.App {
  text-align: center;
}

.App__counter {
  padding-top: 50px;
  margin: 0 auto;
  width: 320px;
}

.App__counter--count {
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 50px;
}

.App__counter--buttons-blok {
  display: flex;
  justify-content: space-between;
}

.App_couner--button {
  border: none;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.App_couner--button:hover {
  transform: scale(1.2);
}

.button-primary {
  background-color: cyan;
}

.button-danger {
  background-color: crimson
}

.button-reset {
  background-color: gold;
}

.button-async {
  background-color: darkgray;
}
